<!--navbar-light                                            -->
<nav class="navbar navbar-expand-lg bg-light navbar-light pb-0 fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">AGtive</a>
        <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" [class.show]="!navbarCollapsed">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/home">Startseite</a>
                </li>
                <li class="nav-item" routerLinkActive="active" *ngIf="authenticationService.loggedIn">
                    <a class="nav-link" routerLink="/entry">Eintragen</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/scores">Bestenliste</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/rules">Regeln</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item" routerLinkActive="active" *ngIf="authenticationService.loggedIn">
                    <a class="nav-link" routerLink="/signout"><i class="fas fa-sign-out-alt"></i> Ausloggen</a>
                </li>

                <li class="nav-item" routerLinkActive="active" *ngIf="!authenticationService.loggedIn">
                    <a class="nav-link" routerLink="/login">Einloggen</a>
                </li>

                <li class="nav-item" routerLinkActive="active" *ngIf="!authenticationService.loggedIn">
                    <a class="nav-link" routerLink="/signup">Registrieren</a>
                </li>
            </ul>
        </div>
    </div>
</nav>