<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom border-grey">
    <div class="container">
        <a class="navbar-brand" href="#">AGtive</a>
        <button class="navbar-toggler" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/home">Startseite</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/login">Anmelden</a>
                </li>
                <li class="nav-item" routerLinkActive="active" *ngIf="authService.loggedIn">
                    <a class="nav-link" routerLink="/entry">Eintragen</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/scores">Bestenliste</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/rules">Regeln</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/signin" *ngIf="!authenticationService.loggedIn">Login</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/signout" *ngIf="authenticationService.loggedIn">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/signup" *ngIf="!authenticationService.loggedIn">Registrieren</a>
                </li>
            </ul>
        </div>
    </div>
</nav>