<div class="container">
    <div class="row">
        <div class="col-8 mx-auto card p-3 mt-5">
            <div class="text-center mb-3">
                <h3>Bestenliste</h3>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Platz</th>
                        <th>Nickname</th>
                        <th>Gefahrene Kilometer</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>