
<div class="container">
    <div class="text-center">
        <h1>Welcome to AGtive</h1>
        
    </div>
    <div class="row">
        <div class="col-5 mx-auto">
            <div class="text-center">
            <h3>Login</h3>
        </div>
            <div class="alert alert-danger" *ngIf=formInvalid>
                Ungültig
            </div>
            <div class="alert alert-danger" *ngIf=usernameOrpasswordWrong>
                Ungültig
            </div>
                <div class="form-group">
                  <label for="inputUsername">Benutzername</label>
                  <input type="text" class="form-control" id="inputUsername"[(ngModel)]="username"placeholder="Benutzername eingeben">
                 
                </div>
                <div class="form-group">
                  <label for="inputPW">Passwort</label>
                  <input type="password"id="inputPW" class="form-control"[(ngModel)]="password" placeholder="Passwort eingeben" >
                </div>
         
                <button  class="btn btn-outline-primary"(click)="login">Anmelden</button>
              
              </div>
    </div>
</div>