<div class="container">
    <div class="row">
        <div class="col-11 col-md-8 mx-auto card p-3 mt-5">
            <div class="text-center mb-3">
                <h3>{{editing ?"Strecke bearbeiten" :"Neue Strecke eintragen"}}</h3>
            </div>
            <div>
                <button class="btn btn-outline-success d-inline mr-3" [disabled]="loading" (click)="save()"><i [class]="'fas fa-' + (loading ? 'spinner fa-spin' : 'save')"></i> Speichern</button>
                <a class="btn btn-outline-danger d-inline py-2" routerLink="/my-ways" [class.disabled]="loading"><i class="fas fa-times"></i> Abbrechen</a>
            </div>
            <div class="mt-3">
                <div class="alert alert-danger">
                    <b>Beachte:</b>
                    <ul>
                        <li>Trage <b>nur</b> Strecken ein, die Du <b>seit dem {{minDateFormatted}}</b> zurückgelegt hast.</li>
                        <li>Trage <b>keine addierten Distanzen</b> ein. (Trage jede einzelne Leistung separat unter dem jeweiligen Datum ein.)</li>
                        <li>Trage deine Strecke ein, <b>ohne sie</b> mit dem entsprechenden Faktor <b>zu multiplizieren</b>. Das erledigt das Programm automatisch.</li>
                    </ul>
                </div>
                <form [formGroup]="wayForm">
                    <div class="form-group">
                        <label for="date" class="d-block">Datum:</label>
                        <ngb-datepicker formControlName="date" #d [minDate]="minDate" [maxDate]="maxDate" [class.is-invalid]="submitted && f.date.errors" [class.is-valid]="submitted && !f.date.errors"></ngb-datepicker>
                        <div class="invalid-feedback">
                            Das Datum ist ungültig!
                        </div>
                        <div class="valid-feedback">
                            Das Datum ist gültig!
                        </div>
                    </div>
                    <div class="my-3">
                        <div class="custom-control custom-radio">
                            <input type="radio" id="type-bike" formControlName="type" value="bike" class="custom-control-input" [class.is-invalid]="submitted && f.type.errors" [class.is-valid]="submitted && !f.type.errors">
                            <label class="custom-control-label" for="type-bike"><i class="fas fa-biking"></i> Ich bin mit dem <b>Fahrrad gefahren</b> oder <b>gewandert</b>.</label>
                        </div>
                        <div class=" custom-control custom-radio">
                            <input type="radio" id="type-walk" formControlName="type" value="walk" class="custom-control-input" [class.is-invalid]="submitted && f.type.errors" [class.is-valid]="submitted && !f.type.errors">
                            <label class="custom-control-label" for="type-walk"><i class="fas fa-walking"></i> Ich bin <b>gejoggt.</b></label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="type-skiroller" formControlName="type" value="skiroller" class="custom-control-input" [class.is-invalid]="submitted && f.type.errors" [class.is-valid]="submitted && !f.type.errors">
                            <label class="custom-control-label" for="type-skiroller"><i class="fas fa-skating"></i> Ich bin mit dem <b>Skiroller gefahren.</b></label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="type-swim" formControlName="type" value="swim" class="custom-control-input" [class.is-invalid]="submitted && f.type.errors" [class.is-valid]="submitted && !f.type.errors">
                            <label class="custom-control-label" for="type-swim"><i class="fas fa-swimmer fa-flip-horizontal"></i> Ich bin <b>geschwommen.</b></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="distance">Distanz in km (<b>nicht schummeln!</b>):</label>
                        <!--{{f.type.value != 'hike' ? "Distanz" : "Höhenmeter" }}-->
                        <input type="number" id="distance" class="form-control" formControlName="distance" placeholder="Distanz in km eingeben" [class.is-invalid]="(submitted && f.distance.errors)" [class.is-valid]="submitted && !f.distance.errors">
                        <!-- || (f.type.value == 'hike' && f.distance.value > 3)-->
                        <div class="invalid-feedback">
                            Die Distanz ist muss zwischen 0 und 500 km liegen!
                            <!--{{f.type.value != 'hike' ? "Die Distanz ist muss zwischen 0 und 500 km liegen!" : "Die Höhenmeter müssen zwischen 0 und 3 km liegen!" }}-->
                        </div>
                    </div>
                    <!--<div class="alert alert-warning" *ngIf="f.type.value == 'hike'">
                        Du hast <b>Wandern / Bergsteigen</b> als Sportart ausgewählt. Gib deshalb die <b>Höhenmeter</b> ein, die Du zurückgelegt hast, nicht die horizontale Strecke. Die Höhenmeter müssen zwischen 0 und 3 km liegen.
                    </div>-->
                    <div class="alert alert-success" *ngIf="f.type.value && f.distance.value && f.type.value != 'bike'">
                        Das entspricht <b>{{getBikeDistance()}} Fahrradkilometern</b>.
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>