<div class="container">
    <div class="row">
        <div class="col-11 col-md-8 mx-auto card p-3 mt-5">
            <div class="text-center mb-3">
                <h3>Bestenliste</h3>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Platz</th>
                            <th>Klasse</th>
                            <th>Benutzer</th>
                            <th colspan="2">Gefahrene Kilometer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users">
                            <td>{{user.place}}</td>
                            <td>{{user.grade}}</td>
                            <td>{{user.username}}</td>
                            <td>{{user.distance}}</td>
                            <td>
                                <div class="progress distanceIndicator">
                                    <div class="progress-bar" role="progressbar" [style.width]="user.distance / maxDistance * 100 + '%'"></div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>