<div class="container">
    <div class="row">
        <div class="col-11 col-md-8 mx-auto card p-3 mt-5">
            <div class="text-center mb-3">
                <h3>Bestenliste</h3>
            </div>
            <ul class="nav nav-tabs">
                <li class="nav-item" *ngFor="let v of views">
                    <a class="nav-link" [class.active]="currentView == v.id" (click)="view(v.id)" [routerLink]="">{{v.name}}</a>
                </li>
            </ul>
            <div class="table-responsive mt-1">
                <table class="table table-striped border-top-0">
                    <thead>
                        <tr>
                            <th class="border-top-0">Platz</th>
                            <th class="border-top-0">Klasse</th>
                            <th class="border-top-0" *ngIf="currentView != 'grades'">Benutzer</th>
                            <th class="border-top-0" colspan="2">Strecke</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users">
                            <td>{{user.place}}</td>
                            <td>{{user.grade}}</td>
                            <td *ngIf="currentView != 'grades'">{{user.username}}</td>
                            <td>{{user.distance}} km</td>
                            <td>
                                <div class="progress distanceIndicator">
                                    <div class="progress-bar" role="progressbar" [style.width]="user.distance / maxDistance * 100 + '%'"></div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>