<div class="container pt-5">
    <div class="card p-4">
        <h2 class="text-center">Regeln bei <i>AG</i>tiv</h2>
        <p>Teilnehmen kann die gesamte Schulfamilie, alle Schüler*innen, deren Eltern und alle Lehrkräfte. </p>
        <p>Jeder Teilnehmer trägt möglichst täglich seine "geradelten, gerollerten oder gelaufenen Kilometer" ein. Beim Kilometerzählen hilft euch evtl. die App Runtastic. Selbstverständlich ist es ein Gebot der Fairness, hier <b>nicht zu mogeln</b>, denn
            damit wäre unser gesamtes Gemeinschaftsergebnis verfälscht.</p>

        <p>Statt der "geradelten Kilometer" könnt Ihr auch die "gelaufenen oder gerollerten Kilometer" eingeben, indem Ihr auf den entsprechenden Button klickt. Das Programm rechnet die von euch eingetragene Strecke auf Grundlage der durchschnittlichen Energieleistung
            in "geradelte Kilometer" um. Auch Skirollern ist möglich!</p>

        <p>Die zurückgelegte Strecke führt unsere Schulfamilie über das reale Straßennetz zuerst über Marseille nach Gibraltar, dann weiter über die Westküste Afrikas Richtung Kap der Guten Hoffnung, im Osten Afrikas wieder Richtung Norden und dann weiter
            der Küste entlang nach Osten. Vielleicht schaffen wir es so über die Beringstraße auch bis Amerika und wieder zurück ins Allgäu! Fähren nutzen wir nur möglichst selten.</p>

        <p>Jederzeit könnt ihr einsehen, wo wir uns gerade befinden und wie weit es noch zum nächsten Zwischenziel ist.</p>

        <p>Am Ende gibt es eine Sieger-Klasse aus jeder Jahrgangsstufe und einen einzelnen Gesamtsieger.</p>

    </div>

    <div class="card p-3 mt-5">
        <h2 class="text-center">Das Wichtigste in Kürze</h2>
        <div *ngFor="let rule of rules" class="mb-3">
            <div class="d-flex justify-space-between">
                <i class="fa fa-3x text-secondary pt-3" [ngClass]="rule.icon"></i>
                <div>
                    <h3 class="ml-3 mb-0">{{ rule.title }}</h3>
                    <p class="mt-0 pt-0 px-3 ">{{ rule.content }}</p>
                </div>
            </div>
        </div>
    </div>

    <!--<div *ngFor="let rule of rules" class="row center-alignment mx-auto col-10 alert alert-primary rounded p-2 mb-3">
        <div class="">
            <h4 class="text-dark">{{ rule.title }}</h4>
            <p class=" mb-0 text-darkblue"> {{ rule.content }}</p>
        </div>
    </div>-->

</div>