<div class="container pt-5">
    <div class="card p-4">
        <h2 class="text-center">Regeln bei <i>AG</i>tiv</h2>
        <p>Teilnehmen kann die gesamte Schulfamilie, also alle Schülerinnen und Schüler, deren Eltern und alle Lehrkräfte des Allgäu-Gymnasiums Kempten.</p>
        <p>Die von Euch täglich geradelten, gerollerten oder gelaufenen Kilometer gebt Ihr unter "Meine Strecken" ein.</p>
        <p>Natürlich sind wir bei diesem Projekt auf die Ehrlichkeit jedes Teilnehmers angewiesen! Deshalb: <b>Schummelt nicht beim Eintragen Eurer Strecken!</b></p>
        <p>Gewertet werden Lauf-, Roller- (Inliner/Skiroller), Schwimm-, Radkilometer und die Höhenmeter beim Bergsteigen in unterschiedlicher Gewichtung - orientiert am Energieverbrauch der jeweiligen Sportart: Laufen x 4, Inliner/Skiroller x 2,5, Rad x
            1, Schwimmen x 14 und die Höhenmeter beim Bergsteigen x 80.</p>
        <p>So wird jede einzelne Leistung energiebedarfsgerecht gewichtet und alle können gleichermaßen zur Erdumrundung beitragen. </p>
        <p>Eure Leistungen werden auf der Internetseite von <i>AG</i>tiv nur unter Eurem Benutzernamen, nicht unter Eurem wirklichen Namen veröffentlich! </p>
        <p><i>AG</i>tiv führt unsere Schulfamilie über das reale Straßennetz zuerst über Marseille nach Gibraltar, dann weiter über die Westküste Afrikas Richtung Kap der Guten Hoffnung, im Osten Afrikas wieder Richtung Norden und dann weiter der Küste entlang
            nach Osten. Vielleicht schaffen wir es so über die Beringstraße auch bis nach Amerika und wieder zurück ins Allgäu! Fähren nutzen wir nur möglichst selten. </p>
        <p>Jederzeit könnt ihr auf der Startseite einsehen, wo wir uns gerade befinden und wie weit es noch zum nächsten Zwischenziel ist. </p>
        <p>Für die Jahrgangsstufen 5 bis 9 gilt: Die Klasse mit den meisten Kilometern in jeder Jahrgangsstufe wird mit der goldenen Ananas ausgezeichnet. (Inhalt wird noch nicht verraten!) </p>
        <p>Die Klassen der Jahrgangsstufe 10 treten gegen die Q11 um die goldene Ananas an! </p>
    </div>

    <div class="card p-3 mt-5">
        <h2 class="text-center">Das Wichtigste in Kürze</h2>
        <div *ngFor="let rule of rules" class="mb-3">
            <div class="d-flex justify-space-between">
                <i class="fa fa-3x text-secondary pt-3" [ngClass]="rule.icon"></i>
                <div>
                    <h3 class="ml-3 mb-0">{{ rule.title }}</h3>
                    <p class="mt-0 pt-0 px-3 ">{{ rule.content }}</p>
                </div>
            </div>
        </div>
    </div>

    <!--<div *ngFor="let rule of rules" class="row center-alignment mx-auto col-10 alert alert-primary rounded p-2 mb-3">
        <div class="">
            <h4 class="text-dark">{{ rule.title }}</h4>
            <p class=" mb-0 text-darkblue"> {{ rule.content }}</p>
        </div>
    </div>-->

</div>