<div class="container">
    <div class="text-center text-white mb-5">
        <h1 class="mb-3 display-1 font-weight-bold headline">AGtiv</h1>
        <h2 class="headline">Die interaktiven Radel- und Lauf-Aktion des Allg&auml;u Gymnasiums</h2>
    </div>

    <div class="card p-3 mb-3">
        <h3 class="text-center" *ngIf="authenticationService.loggedIn">Hallo {{authenticationService.currentUser.username}}!
        </h3>
        <h3 class="text-center" *ngIf="!authenticationService.loggedIn">
            <i class="fa fa-running text-secondary pt-5 d-inline d-md-none mr-2"></i>Wie funktionierts?
            <i class="fa fa-bicycle text-secondary pt-5 d-inline d-md-none ml-2"></i>
        </h3>
        <div class="d-flex justify-space-between">
            <i class="fa fa-running fa-7x text-secondary pt-5 d-none d-md-block"></i>
            <span class="p-3">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.   
                        Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</span>
            <i class="fa fa-bicycle fa-7x text-secondary pt-5 d-none d-md-block"></i>
        </div>
    </div>

    <div class="card p-3 mb-4" *ngIf="!authenticationService.loggedIn">
        <h3 class="text-center">Jetzt mitmachen!</h3>
        <div class="row">
            <a class="btn btn-outline-success col-4 mr-2 offset-2" routerLink="/signup"><i class="fas fa-user-plus"></i> Registrieren</a>
            <a class="btn btn-outline-primary col-4 ml-2" routerLink="/login"><i class="fas fa-sign-in-alt"></i> Anmelden</a>
        </div>
        <!--
        <div class="row" *ngIf="authenticationService.loggedIn">
            <a class="btn btn-outline-success col-4 mr-2 offset-2" routerLink="/my-ways">Meine Wege</a>
            <a class="btn btn-outline-primary col-4 ml-2" routerLink="/scores">Bestenliste</a>
        </div>-->
    </div>

    <div class="card p-3 mb-3">
        <div class="row text-center" *ngIf="currentDistanceLoaded">
            <div class="col-4">
                <div class="info mx-auto d-flex justify-content-center">
                    <i class="fas fa-map-marker-alt fa-3x text-secondary mr-2 mt-1"></i>
                    <div>
                        <h3>{{ lastCity.name }}</h3>
                        in {{ lastCity.countryName }}
                        <flag-icon [country]="lastCity.country" squared></flag-icon>
                    </div>
                </div>
                <img [src]="getImg(lastCity)" class="city" alt="Letzte Stadt">

            </div>
            <div class="col-4">
                <h4 class="text-center">
                    <i class="fa fa-sign text-secondary pt-5 d-inline  mr-2"></i>
                    <span>Aktuelle Distanz{{currentDistanceLoaded ? ': ' + currentDistance + " km" : ""}}</span>
                </h4>
                <h4 class="text-center" *ngIf="currentDistanceLoaded">
                    <i class="fa fa-map-signs text-secondary pt-5 d-inline  mr-2"></i>
                    <span>Nächstes Ziel in {{ nextCity.distance - currentStepDistance }} km!</span>
                </h4>


                <div class="progress w-100">
                    <div class="progress-bar" role="progressbar" [style.width]="currentStepDistance / nextCity.distance * 100 + '%'"></div>
                </div>
                Nur noch {{ nextCity.distance - currentStepDistance }} km bis {{ nextCity.name }}, {{ nextCity.countryName }}
                <flag-icon [country]="nextCity.country" squared></flag-icon>

                <div class="row mt-5" *ngIf="authenticationService.loggedIn">
                    <a class="btn btn-outline-success col-4 mr-2 offset-2" routerLink="/my-ways">Meine Wege</a>
                    <a class="btn btn-outline-primary col-4 ml-2" routerLink="/scores">Bestenliste</a>
                </div>
            </div>
            <div class="col-4">
                <div class="info mx-auto d-flex justify-content-center">
                    <i class="fas fa-location-arrow fa-3x text-secondary mr-2 mt-1"></i>
                    <div>
                        <h3>{{ nextCity.name }}</h3>
                        in {{ nextCity.countryName }}
                        <flag-icon [country]="nextCity.country" squared></flag-icon>
                    </div>
                </div>
                <img [src]="getImg(nextCity)" class="city" alt="Nächste Stadt">
            </div>
        </div>
        <div class="alert alert-primary" *ngIf="!currentDistanceLoaded">
            <i class="fas fa-spinner fa-spin"></i> Laden...
        </div>
    </div>
</div>