@import "../../../variables.scss";
.headline {
    text-shadow: 0px 0px 10px $secondary;
}

img.city {
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
    object-fit: cover;
}

.progress {
    margin-top: calc(30%);
}