@import "../../../variables.scss";
.headline {
    text-shadow: 0px 0px 10px $secondary;
}

img.city {
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    &.city-small {
        height: 7rem;
        width: 7rem;
    }
}

.progress {
    margin-top: calc(30%);
}

.stats-container {
    position: absolute;
    top: 27%;
    margin-left: 24.6%;
    margin-right: 27.2%;
    width: 47.2%;
}

@media (min-width: 768px) and (max-width: 991px) {
    img.city {
        height: 10rem !important;
        width: 10rem!important;
        &.city-small {
            height: 5rem;
            width: 5rem;
        }
    }
}

@media (max-width: 767px) {
    img.city {
        height: 5rem !important;
        width: 5rem!important;
        &.city-small {
            height: 2.5rem;
            width: 2.5rem;
        }
    }
    .progress {
        margin-top: 1rem;
    }
    .stats-container {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        background: none !important;
        div {
            padding: 1px;
            font-size: smaller;
        }
    }
}

@media (max-width: 575px) {
    .status {
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 2rem;
        background-color: lighten($blue, 40);
    }
}

.bg-warning-light {
    background-color: #f1c40f4a;
}

.fakebadge {
    font-size: 100% !important;
    font-weight: normal;
}

.embed-responsive {
    max-width: 656px;
}