$blue: #3498db !default;
$indigo: #9b59b6 !default;
$purple: #8e44ad !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #e67e22 !default;
$yellow: #f1c40f !default;
$green: #2ecc71 !default;
$teal: #27ae60 !default;
$cyan: #2980b9 !default;
@import "~bootstrap/scss/bootstrap.scss";